@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <head>
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
    </head>

    <h1> ZipperPro </h1>

    <img src="~/Image/Zippers.jpg" alt="Zippers" >

    <h3> About Us : </h3>

    <p> ZipperPro, a leading manufacturer and supplier of high-quality zippers for a wide range of applications. 
        Based in the heart of the industrial district, our corporate headquarters houses our team of experts in design, 
       production, and customer service.
     </p>

    <h3> Desciption </h3>
    <p> Our team of professionals is dedicated to creating and supplying durable, reliable, and innovative zippers for
        use in the fashion, luggage, sports, outdoor gear, and industrial industries. With years of experience and a passion
        for excellence, we have earned a reputation as a trusted partner for businesses of all sizes.
    </p>
    <p>
        The fact that ZipperPro is based in the heart of an industrial district is also noteworthy, as this may suggest that they
        have access to specialized resources and expertise that can help them to innovate and stay competitive in the market. 
        Additionally, the mention of a team of experts in design, production, and customer service suggests that ZipperPro places
        a high value on quality and customer satisfaction, and that they have the expertise needed to support their customers' needs
        throughout the product lifecycle.
    </p>
}


